<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GSB Oturum açma</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <section id="navbar"></section>
    <div class="navbar">
        <div class="navbar-inside-navbar">
            <div class="logo-red"><img src="../pictures/Ekran görüntüsü 2024-06-27 010928.png" alt="red-logo"></div>
            <div class="red-text">
                <h1 style="height: 100%; width: 100%;">T.C GENÇLİK VE SPOR BAKANLIĞI KREDİ VE YURTLAR MÜDÜRLÜĞÜ</h1>
            </div>
            <div class="logo-orange"><img src="../pictures/Ekran görüntüsü 2024-06-27 010944.png" alt=""></div>
        </div>

    </div>
    
    </div>
    <section id="main">
        <div class="body">
            <div class="text-1 text">
                <p>Hoşgeldiniz.İnternet erişimi için bilgilerinizi girerek 'Giriş' butonuna basınız</p>
            </div>
            <div class="login">
                <div class="username">
                    Kullanıcı Adı:
                    <input type="text" name="" id="name">
                </div>
                <div class="password">
                    Şifre:
                    <input type="password">
                </div>
                <div class="login-button">
                    <button type="submit">Giriş</button>
                </div>
                <div class="register-button">
                    <button>Kayıt Ol</button>
                </div>
            </div>
            <div class="text-2 text">
                <p>*WiFi portali daha verimli kullanabilmeniz için popup engelleyicileri devre dışı bırakmanız
                    gerekmektedir</p>
            </div>
            <div class="text-3 text">
                <p>*Bağlantı için mobil cihaz kullanmanız durumunda GSB WiFi ağına bağlandığınızda ve 2G/3G bağlantısını
                    kapattığınızdan emin olunuz</p>

            </div>
        </div>
    </section>
</body>

</html>